<template>
  <v-dialog v-model="dialog" persistent max-width="500px">
      <v-btn color="primary" dark slot="activator">Add track</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">Track form</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Title" v-model="model.title" required></v-text-field>
              </v-flex>
              <v-layout row wrap>
                <v-flex xs12 sm10>
                  <v-autocomplete
                    v-bind:items="artists"
                    v-model="model.artist"
                    label="Artist"
                    required
                    item-text="name"
                    @change="selectChange"
                  >
                    <template slot="item" slot-scope="data">
                      <template>
                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex cs12 sm2>
                  <v-btn icon class="icon-button" @click="showCreateArtistForm = !showCreateArtistForm">
                    <v-icon medium>add</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-layout v-show="showCreateArtistForm">
                <v-flex cs12 sm10 class="create-form">
                  <v-text-field label="New Artist Name" v-model="newArtistName"></v-text-field>
                </v-flex>
                <v-flex cs12 sm2>
                  <v-btn icon class="icon-button" @click="createArtist">
                    <v-icon medium>create</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm6>
                  <v-autocomplete
                    label="Album"
                    v-bind:items="albums"
                    v-model="model.album"
                    max-height="auto"
                    item-text="title"
                  >
                    <template slot="item" slot-scope="data">
                      <template>
                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item.title"></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs8 sm4>
                    <v-text-field label="Release Year" v-model="releaseYear"></v-text-field>
                </v-flex>
                <v-flex cs4 sm2>
                  <v-btn icon class="icon-button" @click="showCreateAlbumForm = model.artist === '' ? false : !showCreateAlbumForm">
                    <v-icon medium>add</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-content v-show="showCreateAlbumForm">
                <v-layout row class="single-create-form">
                  <v-flex xs12 sm12 class="create-form">
                    <v-text-field label="New Album Title" v-model="newAlbumTitle"></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm10 class="create-form">
                    <v-text-field label="New Album Release Year" v-model="newAlbumYear"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-btn icon class="icon-button" @click="createAlbum">
                      <v-icon medium>create</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-content>
              </v-flex>
                <form enctype="multipart/form-data" novalidate class="audio-form">
                  <h1>Upload audio</h1>
                  <div class="dropbox">
                    <input type="file" :disabled="isSaving" @change="onFileChange" accept="audio/*" class="input-file">
                      <p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                      </p>
                      <p v-if="isFileAdded">
                        Uploaded file
                      </p>
                      <p v-if="isSaving">
                        Saving track...
                      </p>
                      <p v-if="isSuccess">
                        Success!
                      </p>
                  </div>
                </form>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="onSaveButton">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import {axiosInstance} from './../axiosInstance'
const STATUS_INITIAL = 0
const STATUS_SAVING = 1
const STATUS_SUCCESS = 2
const STATUS_FAILED = 3
const STATUS_FILE_ADDED = 4

export default {

  name: 'AddTrackDialog',

  methods: {
    reset: function () {
      this.file = null
      this.currentStatus = STATUS_INITIAL
    },

    getAllArtists: function () {
      axiosInstance.post('artist/list')
        .then(response => {
          this.artists = response.data
        }).catch(e => {
          console.log(e)
        })
    },

    getAllAlbumsByArtistId: function (artistId) {
      axiosInstance.post('album/listByArtist', {
        id: artistId
      }).then(response => {
        this.albums = response.data
      }).catch(e => {
        console.log(e)
      })
    },
    onSaveButton: function () {
      if (this.file === null || this.model.title === '' || this.model.album === '') {
        return
      }
      this.currentStatus = STATUS_SAVING
      var data = new FormData()
      data.append('file', this.file, this.file.name)
      data.append('title', this.model.title)
      data.append('albumId', this.model.album.id)

      axiosInstance.post('track/add', data, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(response => {
        this.currentStatus = STATUS_SUCCESS
        this.reset()
        this.dialog = false
      }).catch(e => {
        this.currentStatus = STATUS_FAILED
      })
    },

    createArtist: function () {
      if (this.newArtistName === '') {
        return
      }
      axiosInstance.post('artist/create', {
        name: this.newArtistName
      }).then(response => {
        this.getAllArtists()
      }).catch(e => {
        console.log(e)
      })
    },

    createAlbum: function () {
      if (this.newAlbumTitle === '' || this.newAlbumYear === '' || this.model.artist === null) {
        return
      }
      axiosInstance.post('album/create', {
        title: this.newAlbumTitle,
        year: parseInt(this.newAlbumYear),
        artistId: this.model.artist.id
      }).then(response => {
        this.getAllAlbumsByArtistId(this.model.artist.id)
      }).catch(e => {
        console.log(e)
      })
    },

    selectChange: function (artist) {
      if (artist === '') {
        return
      }
      this.getAllAlbumsByArtistId(artist.id)
    },

    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.file = files[0]
      this.currentStatus = STATUS_FILE_ADDED
    }
  },

  computed: {
    isInitial () {
      return this.currentStatus === STATUS_INITIAL
    },
    isSaving () {
      return this.currentStatus === STATUS_SAVING
    },
    isSuccess () {
      return this.currentStatus === STATUS_SUCCESS
    },
    isFailed () {
      return this.currentStatus === STATUS_FAILED
    },
    isFileAdded () {
      return this.currentStatus === STATUS_FILE_ADDED
    },
    releaseYear () {
      if (this.model.album === '') {
        return ''
      }
      return new Date(this.model.album.releaseDate).getFullYear()
    }
  },

  data () {
    return {
      dialog       : false,
      currentStatus: null,
      artists      : [],
      albums       : [],
      model        : {
        title  : '',
        artist : '',
        album  : ''
      },
      showCreateArtistForm: false,
      showCreateAlbumForm: false,
      file: null,
      newArtistName : '',
      newAlbumTitle : '',
      newAlbumYear  : ''
    }
  },

  created: function () {
    this.getAllArtists()
    this.reset()
  }
}
</script>

<style lang="scss" scoped>
.audio-form {
  width: 100%
}

.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  min-height: 50px;
  position: relative;
  cursor: pointer;
  width: 100%;
  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
}



.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
  max-height: 200px;
}

.icon-button {
  top: 10px;
}
.create-form {
  margin-left: 10%;
}
.single-create-form {
  margin-right: 13% !important;
}
</style>
