/* eslint-disable */
<template>
    <v-app light class="app">
  	 <v-toolbar class="white">
        <v-toolbar-title v-text="title"></v-toolbar-title>
      </v-toolbar>
      <main>
        <v-content>
          <section>
            <v-parallax src="/src/assets/hero1.jpeg" height="600">
              <v-layout
                row
                align-center
                justify-center
                class="white--text"
              >
                <v-layout
                  class="logo-container"
                  column
                  align-center
                >
                  <img src="../assets/logo2.png" alt="Audio feel finder" height="300" >
                  <add-track-dialog></add-track-dialog>
                </v-layout>
              </v-layout>
            </v-parallax>
          </section>

          <section>
            <similarities></similarities>
          </section>

          <section>
            <v-parallax src="/src/assets/hero.jpeg" height="380">
              <v-layout column align-center justify-center>
                <div class="headline white--text mb-3 text-xs-center">Find similar tracks!</div>
                <!-- <em>Compare tracks just by selecting ones</em> -->
              </v-layout>
            </v-parallax>
          </section>

          <section>
            <v-container grid-list-xl>
              <v-layout row wrap justify-center class="my-5">
                <v-flex xs12 sm4>
                  <v-card class="elevation-0 transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Project info</div>
                    </v-card-title>
                    <v-card-text>
                      This project allows You to find most similarity tracks to one You add.
                      You can upload Your own songs. The only requirements is that it need to be either wav file or mp3.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 sm4 offset-sm1>
                  <v-card class="elevation-0 transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Contact me</div>
                    </v-card-title>
                    <v-list class="transparent">
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="blue--text text--lighten-2">place</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>Gliwice, Polska</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="blue--text text--lighten-2">email</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>blurpek@protonmail.com</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </section>

          <!-- <v-footer class="blue darken-2">
            <v-layout row wrap align-center>
              <v-flex xs12>
                <div class="white--text ml-3">
                  Made with
                  <v-icon class="red--text">favorite</v-icon>
                  by <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
                  and <a class="white--text" href="https://github.com/vwxyzjn">Costa Huang</a>
                </div>
              </v-flex>
            </v-layout>
          </v-footer> -->
        </v-content>
      </main>
    </v-app>
</template>

<script>
import Similarities from '@/components/Similarities'
import AddTrackDialog from '@/components/AddTrackDialog'

export default {
  name: 'Home',

  data () {
    return {
      title: 'audiofeel'
    }
  },
  components: {
    'similarities': Similarities,
    'add-track-dialog': AddTrackDialog
  }
}
</script>

<style lang="scss" scoped>
.app {
  margin-top:0px !important;
}
.logo-container {
  background-color: rgba(97, 99, 102, 0.4);
}
</style>
