<template>
  <v-content>
    <track-and-method-select :tracks="tracks" @change-track="changeTrack" @change-method="changeMethod"></track-and-method-select>
    <v-data-table
      :headers="headers"
      :items="similarityInformations"
      hide-actions
      item-key="id"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.track1.title }}</td>
          <td class="text-xs-center">{{ props.item.track2.title }}</td>
          <td class="text-xs-center">{{ props.item.similarity }}</td>
          <td class="text-xs-center">{{ props.item.method.name }}</td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card flat v-for="val in props.item.similarities" :key="val.id">
          <v-tooltip bottom>
            <v-card-text slot="activator">{{ val.attribute.name }}:    {{ val.similarity }}</v-card-text>
              <span>{{ val.attribute.description }}</span>
          </v-tooltip>
        </v-card>
      </template>
    </v-data-table>
  </v-content>
</template>

<script>
import TrackAndMethodSelect from '@/components/TrackAndMethodSelect'
import { axiosInstance } from './../axiosInstance'

export default {

  name: 'SimilarityTable',

  props: [
    'tracks'
  ],

  methods: {
    getSimilarityInformations: function (track, method) {
      axiosInstance.post('/similarityInformation/findSimilar', {
        trackId   : track,
        methodId  : method,
        numberOfNeighbours: 10
      }).then(response => {
        var data = response.data
        var arr = Object.keys(data).map(key => {
          data[key].similarity = key
          return data[key]
        })
        this.similarityInformations = arr
      }).catch(e => {
        // console.log(e)
      })
    },

    changeTrack: function (newTrack) {
      this.activeTrack = newTrack
      this.getSimilarityInformations(newTrack, this.method)
    },

    changeMethod: function (newMethod) {
      this.method = newMethod
      this.getSimilarityInformations(this.activeTrack, newMethod)
    }
  },

  data () {
    return {
      headers: [
        { text: 'Track1', value: 'track1.title', align: 'center' },
        { text: 'Track2', value: 'track2.title', align: 'center' },
        { text: 'Similarity', value: 'similarity', align: 'center' },
        { text: 'Method', value: 'method.name', align: 'center' }
      ],
      activeTrack           : {},
      method                : {},
      similarityInformations: []
    }
  },

  components: {
    'track-and-method-select': TrackAndMethodSelect
  }
}
</script>

<style lang="css" scoped>
</style>
