<template>
  <v-card color="grey lighten-5" flat class="container">
    <track-search-bar @tracks-changed="tracksChanged"></track-search-bar>
    <similarity-table :tracks="tracks"></similarity-table>
  </v-card>
</template>

<script>

import TrackSearchBar from '@/components/TrackSearchBar'
import SimilarityTable from '@/components/SimilarityTable'

export default {

  name: 'Similarities',

  methods: {
    tracksChanged: function (newTracks) {
      this.tracks = newTracks
    }
  },

  data () {
    return {
      tracks: []
    }
  },

  components: {
    'track-search-bar': TrackSearchBar,
    'similarity-table': SimilarityTable
  }
}
</script>

<style lang="scss" scoped>
</style>
