<template>
  <v-content class="container">
    <v-layout class="search-track-text">
      <h1>Find Your track, the more information You'll pass, the more specific result You'll get!</h1>
    </v-layout>
    <v-layout row wrap>
      <v-flex sm3 class="input">
        <v-text-field
          label="Title"
          v-model="model.title"
        ></v-text-field>
      </v-flex>
      <v-flex sm3 class="input">
        <v-text-field
          label="Artist"
          v-model="model.artist"
        ></v-text-field>
      </v-flex>
      <v-flex sm3 class="input">
        <v-text-field
          label="Album"
          v-model="model.album"
        ></v-text-field>
      </v-flex>
      <v-flex sm3 class="input">
      <v-btn class="blue lighten-2 button" dark v-on:click="onSearchButton()">
        Search
        <v-icon dark right>search</v-icon>
      </v-btn>
      </v-flex>
    </v-layout>
    <v-snackbar
      :timeout=6000
      :color="'error'"
      v-model="snackbar"
    >
      {{ snackbarMessage }}
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-content>
</template>

<script>
import {axiosInstance} from './../axiosInstance'

export default {
  name: 'TrackSearchBar',

  methods: {
    findTrackByModel: function () {
      axiosInstance.post('track/findAllByTitleAndArtistAndAlbum', {
        title   : this.model.title,
        artist  : this.model.artist,
        album   : this.model.album
      }).then(response => {
        this.$emit('tracks-changed', response.data)
      }).catch(e => {
        this.snackbarMessage = 'Error, sorry ;c'
        this.snackbar = true
      })
    },

    onSearchButton: function () {
      if (this.model.title === '' && this.model.artist === '' && this.model.album === '') {
        this.snackbarMessage = 'You need to fill at last one field'
        this.snackbar = true
      } else {
        this.findTrackByModel()
      }
    }
  },

  data () {
    return {
      model: {
        title  : '',
        artist: '',
        album : ''
      },
      snackbar: false,
      snackbarMessage: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 90%;
  top: 10px;
  .input {
      padding: 0 10px 0 10px;
      .button {
        top: 8px;
      }
  }
}
.search-track-text h1 {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
</style>
