<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 sm6 class="select-container">
        <v-autocomplete
          v-bind:items="tracks"
          v-model="track"
          label="Track"
          item-value="id"
          item-text="title"
          @change="changeTrack"
        ></v-autocomplete>
      </v-flex>
      <v-flex xs12 sm6 class="select-container">
        <v-autocomplete
          v-bind:items="computationMethods"
          v-model="method"
          label="Method"
          item-value="id"
          item-text="name"
          @change="changeMethod"
        ></v-autocomplete>
      </v-flex>
    </v-layout row wrap>
  </v-container>
</template>

<script>
import { axiosInstance } from './../axiosInstance'

export default {

  name: 'TrackAndMethodSelect',

  props: [
    'tracks'
  ],

  methods: {
    changeMethod: function (val) {
      this.$emit('change-method', val)
    },

    changeTrack: function (val) {
      this.$emit('change-track', val)
    }
  },

  data () {
    return {
      track: {},
      method: {},
      computationMethods: []
    }
  },

  created: function () {
    axiosInstance.post('/method/list')
    .then(response => {
      this.computationMethods = response.data
    }).catch(e => {
      console.log('error')
    })
  }
}
</script>

<style lang="scss" scoped>
  .select-container {
    padding-left: 20px;
    padding-right: 20px;
  }
</style>
